storage/*
**/node_modules/*
!storage/api/README.md
!storage/db/README.md
start-minis.sh
update-minis.sh
addswap-minis.sh
bigger-update-minis.sh
clean-minis.sh
reboot-minis.sh
up-minis.sh
up-swarm.sh
swarm.sh
