.hero-image-container {
	display: inline-block;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}


.skills-table
{
    border-collapse: separate;
    empty-cells: show;
}

.skills-table td
{
    padding: 5px;
}

.skill-row 
{}

.skill-name
{
    float:left;
    text-align: left;
}

.skill-name:hover
{
    color: #ec971f;
}

.skill-details{
    text-align: left;
    padding-left: 30px;
}

.skill-score
{
    font-weight: bold;
}

.skill-bar
{
    height: 10px;
}

.skill-bar-value
{
    position: absolute;
    background: #ec971f;
    height: 15px;
    opacity: 1;
}

.skill-bar-average
{
    position: absolute;
    background: #000000;
    height: 15px;
    opacity: 0.2;
}