#button-row {
    height: 40px;
    width: 100%;
    background-size: 100% 100%; 
    padding:-10px; 
}



#hero1 {
    background: url(../img/Heros/spirit-breaker.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero2 {
    background: url(../img/Heros/queen-of-pain.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero3 {
    background: url(../img/Heros/anti-mage.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero4 {
    background: url(../img/Heros/dazzle.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero5 {
    background: url(../img/Heros/dark-seer.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero6 {
    background: url(../img/Heros/undying.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero7 {
    background: url(../img/Heros/witch-doctor.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero8 {
    background: url(../img/Heros/necrophos.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero9 {
    background: url(../img/Heros/tusk.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}

#hero10 {
    background: url(../img/Heros/alchemist.jpg);   
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 5px 0 5px;
}



#timeline {
    /*background-color:#d0d0d0;*/
    padding-top:15vmin;
}

#diagram {
    /*background-color:#d0d0d0;*/
    padding-top: 60vmin;
}

#map { 
    /*background-color:#d0d0d0;*/
    padding-top:60vmin;
}


#legend { 
    /*background-color:#d0d0d0;*/
    padding-top:6vmin;
}



.svg-content-overlay { 
    width: 100%;
    height: 100%;
    preserveAspectRatio: xMidYMid meet;
    display:inline-block;
    position: absolute;
    top:0;
    left:0;

    z-index: 2;
}

#timeline-cursor {
    fill: black;
    opacity: 0.5;
    z-index: 100;
}

#timeline-separator {
    fill: black;
}

#timeline-timescale-label{
    fill: black;
    font-family: sans-serif;
    font-size: 20px;
    text-anchor: end;
    dominant-baseline:central;
}


.timeline-timescale-tick-label{
    text-anchor: middle;
    dominant-baseline:central;
    fill: black;
    font-family: sans-serif;
    font-size: 20px;
}


.timeline-timescale-tick-line{
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 10px,10px;
    opacity: 1;
}


.sub-timeline-label {
    fill: black;
    font-family: sans-serif;
    font-size: 20px;
    text-anchor: end;
    dominant-baseline:central;
}

.sub-timeline-alternate-background {
    fill: black;
    opacity: 0.2;
}


.timeline-kill {
}

.timeline-kill.radiant{
    fill: red;
}

.timeline-kill.dire{
    fill: green;
}

#sub-timeline-gold-axis path {
    fill: none;
        stroke: black;
}
#sub-timeline-exp-axis path {
    fill: none;
        stroke: black;
}

.icon-label{

    text-anchor: middle;
    dominant-baseline:ideographic;
    fill: white;
    font-family: sans-serif;
    font-size: 3px;
}

#diagram-separator {
    fill: black;
}

#diagram-cursor {
    fill: black;
    opacity: 0.2;
    pointer-events: none;
}

.diagram-time-tick-label{
    font-family: sans-serif;
    font-size: 8px;
    text-anchor: middle;
    dominant-baseline:central;
}

.diagram-time-tick-line{
        stroke: black;
        stroke-width: 1px;
    stroke-dasharray: 5px,5px;
}

.diagram-location-line-label{
    font-family: sans-serif;
    font-size: 10px;
    text-anchor: middle;
    dominant-baseline:central;
}

.diagram-location-line{
        stroke: black;
        stroke-width: 2;
}

.diagram-event-background
{
        stroke: black;
}

.interactive-area
{
    stroke: green;
    fill: green;
    opacity: 0;
}

.map-time
{   
    fill: white;
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 5px;

}
