input{
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
     background-color : #333333;
    color: #ddd;
}
input:disabled{
    color: #889;
}

#matches-list 
{
    list-style-type: none;
}

.match
{
    text-align: left;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ddd;
    background-color: #111;
    font-size: 18pt;
}

.match a
{
    text-align: left;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ddd;
    background-color: #111;
    font-size: 18pt;
}

#requests-table 
{
    width: 100%;
    table-layout: fixed;
}

.request
{
    text-align: center;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ddd;
    background-color: #333;
    font-size: 18pt;
}

.request td
{
    text-align: center;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ddd;
    font-size: 18pt;
}

.request a
{
    text-align: center;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #1D9B6C;
    font-size: 1;
}

#uploads-table 
{
    width: 100%;
    table-layout: fixed;
}

.upload
{
    text-align: center;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ddd;
    background-color: #333;
    font-size: 18pt;
}

.upload td
{
    text-align: center;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ddd;
    font-size: 18pt;
}

.upload a
{
    text-align: center;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #1D9B6C;
    font-size: 18pt;
}

.user-status
{
    font-weight: bold;
}

/* formatting for the match list page */

.imgWrap {
  position: relative;
  display: inline;
  text-align: center;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-size: 16px;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.match-summary {
    background: #444;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 20px;
    height: 150px;
}

.hero_img {
    height: 48px;
    width: 84px;
}

h1, h2
{
    margin: 20px 0px 20px 0px;
}

#history-table th
{
    padding: 5px
}

.history-match td
{
    padding: 5px
}

.history-match.parsed td
{
    background-color: #666;
}
.history-match.parsed.mouseover td
{
    background-color: #888;
}
