<%  layout('base-template'); 
-%>

    <script src="/static/js/libs/paper-full.js"></script>
    <script type="text/paperscript" src="/static/js/logo.js" canvas="dota-logo"></script>
    <script src="/static/js/slider.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/slider.css">

<header class="intro-header">
    

    <div class="canvas-container">

        <div id="canvas-overlay"></div>
        <canvas id="dota-logo" style="position: relative;"></canvas>

       
        <div id="top-slider">
            
            <i class="fa fa-angle-left" id="move-left" aria-hidden="true"></i>
            <i class="fa fa-angle-right" id="move-right" aria-hidden="true"></i>

            <div id="top-slider-cards">
                <div class="slider-card"></div>
                <div class="slider-card"></div>
                <div class="slider-card" style="background-image:url(/static/img/landing-page/test-card.png);background-size:cover;background-position:center;"></div>
                <div class="slider-card" style="background-image:url(/static/img/landing-page/test-card.png);background-size:cover;background-position:center;"></div>
                <div class="slider-card"></div>
                <div class="slider-card"></div>
                <div class="slider-card slider-card-active" style="background-image:url(/static/img/landing-page/test-card.png);background-size:cover;background-position:center;"></div>
                <div class="slider-card"></div>
            </div>

        </div>
    

    </div>
        



    <nav class="navbar navbar-default">
        <div class="container-fluid">


            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> <!-- navbar-header -->


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="row">

                    <div class="col-sm-2 col-sm-offset-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/about">Contact</a></li>
                        </ul> <!-- nav navbar-nav -->
                    </div>

                    <div class="col-sm-6">
                        <h1 class="title1 text-center">Let Artificial Intelligence</h1>
                        <h1 class="title2 text-center">analyse your Dota game</h1>
                    </div>

                    <div class="col-sm-2">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="steam-sign-up"><a href="/user"><i class="fa fa-steam"></i>Sign In</a></li>
                        </ul> <!-- nav navbar-nav navbar-right -->
                    </div>

                </div> <!-- row -->
            </div> <!-- collapse navbar-collapse -->
        </div> <!-- container-fluid -->
    </nav> <!-- navbar navbar-default -->





    <div class="bottom">
        <div class="container-fluid">
            <a href="#" id="view-example">View Example</a>
            <br>
            <a href="/user" class="btn btn-primary"><i class="fa fa-steam"></i>Analyse Myself</a>
        </div> <!-- container-fluid -->
    </div> <!-- bottom -->


</header> <!-- intro-header -->

<article class="intro-content">
    <section class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 left">
                    <div class="left-container">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="measure">
                               <img src="/static/img/landing-page/PlayerCardFeature.jpg">
                            </div>
                            <div role="tabpanel" class="tab-pane" id="skills">
                               <img src="/static/img/landing-page/SkillsFeature.jpg">
                            </div>
                            <div role="tabpanel" class="tab-pane" id="performance">
                               <img src="/static/img/landing-page/MatchTimelineFeature.jpg">
                            </div>
                            <!--
                            <div role="tabpanel" class="tab-pane" id="improve">
                                <h2>Improve Content</h2>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="visual">
                                <h2>Visual Content</h2>
                            </div>
                            -->
                        </div>
                    </div> <!-- left-container -->
                </div>
                <div class="col-sm-4 col-sm-offset-1 right">
                    <div class="right-container">
                        <div class="content">

                            <ul role="tablist">
                                <li role="presentation" class="active">
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#measure" aria-controls="measure" role="tab"
                                       data-toggle="tab"><p>Measure your performance in each match</p>
                                    </a>

                                    <h4>Measure your performance in each match</h4>
                                    <p class="about"> 
                                        Our Individual Match Rating (IMR) system uses Artificial Intelligence to estimate the MMR level that you played at in each match. The IMR takes into account a wide range of information, such as the hero you played with, in order to provide a more accurate assessment of how well you and your teammates played.
                                    </p>

                                </li>

                                <li role="presentation">
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#skills" aria-controls="skills" role="tab"
                                       data-toggle="tab"><p>Detailed breakdown of your Dota skills</p>
                                    </a>

                                    <h4>Detailed breakdown of your Dota skills</h4>
                                    <p class="about">
                                        We compare the features of your playing style to our dataset and provide a personalised analysis of your game. You can see information that is not available anywhere else, such as how well you last-hit when contested by an opponent or the amount of time you spend being visible to your opponents.
                                    </p>
                                </li>

                                <li role="presentation">
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#performance" aria-controls="performance" role="tab"
                                       data-toggle="tab"><p>Performance over time</p>
                                    </a>

                                    <h4>Performance over time</h4>
                                    <p class="about">
                                        See trends in your play and compare your performance with different heroes.
                                    </p>
                                </li>

                            <!--
                                <li role="presentation">
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#improve" aria-controls="improve" role="tab"
                                       data-toggle="tab"><p>Feedback on how to improve</p>
                                    </a>

                                    <h4>Feedback on how to improve</h4>
                                    <p class="about">
                                        Our Artificial Intelligence gives you tips on the key areas of your game to work on, helping you win more matches. 
                                    </p>
                                </li>
                                <li role="presentation">
                                    <i class="fa fa-angle-left"></i>
                                    <a href="#visual" aria-controls="visual" role="tab"
                                       data-toggle="tab"><p>Detailed Visualization of your Match</p>
                                    </a>

                                    <h4>Detailed Visualization of your Match</h4>
                                    <p class="about">
                                        We parse your replay files and turn the data into interactive visualisations for you to explore.
                                    </p>
                                </li>
                            -->
                            </ul>
                            
                            <div class="calltoaction">
                                <a href="/user" class="btn btn-primary"><i class="fa fa-steam"></i>Sign in</a>
                            </div>
                            



                        </div> <!-- content -->
                    </div> <!-- right-container -->
                </div>
            </div> <!-- row -->
        </div> <!-- container-fluid -->
    </section> <!-- features -->

    <section class="details">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="text-center">Over 50.000 matches analysed</h2>

                    <p>
                        Each match that we analyse helps to improve our model and make our estimate of your performance better. Our mission is to build an AI coach for Dota 2 that can help you win more matches.
                    </p>

                    <div class="text-center">
                        <a href="#subscribe-form" class="btn btn-default">Sign up for news <i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<footer class="intro-footer">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4 col-xs-12 pull-right right">
                <div class="right-container">
                    <h3>Get Wisdota <span>News</span></h3>
                    <form action="" id="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Get updates</button>
                    </form> <!-- subscribe-form -->

                    <script type="text/javascript">
                      $("#subscribe-form").submit(
                        function()
                        {
                            var email = $("#email").val();
                            d3.json("/api/add-email/"+email, 
                                function(data)
                                {
                                    console.log("added email", data);
                                    if(data["result"] === "success")
                                    {
                                        alert("Subscription successful. Please check your inbox to confirm!")
                                    }
                                    else if(data["result"] === "failed")
                                    {
                                        alert("Subscription failed. Please double check you entered the correct email.")
                                        console.log(data)
                                    }
                                    else
                                    {
                                        console.log("?", data);
                                    }
                                }
                            );
                            return false;
                        }
                        ); 
                    </script>
                </div> <!-- right container -->
            </div><!-- right -->

            <div class="col-sm-4 col-xs-12 left">
                <div class="left-container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="http://www.joinef.com/">
                                <img src="/static/img/landing-page/logo-ef.png" alt="ef" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="https://fellowship.ycombinator.com">
                                <img src="/static/img/landing-page/ycf.png" alt="ycf" id="ycf-logo" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-12">
                            <div class="social text-center">
                                <a href="https://www.facebook.com/wisdota"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/wisdota"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/tembryo"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/tembryo"><i class="fa fa-github"></i></a>
                                <a href="https://angel.co/tembryo"><i class="fa fa-angellist"></i></a>
                            </div> <!-- social -->
                        </div>
                    </div>
                </div> <!-- left container -->
            </div> <!-- left -->

            <div class="col-sm-4 col-xs-12 middle">
                <div class="middle-container">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <!--<li><a href="#">Learn more</a></li>-->
                                <!--<li><a href="#">Blog</a></li>-->
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul>
                                <!--<li><a href="#">Press</a></li>-->
                                <li><a href="/about">About</a></li>
                                <!--<li><a href="#">Careers</a></li>-->
                            </ul>
                        </div>
                    </div> <!-- row -->
                </div> <!-- middle container -->
            </div> <!-- middle -->


        </div><!-- row -->
    </div> <!-- container-fluid -->
</footer> <!-- intro footer -->

<!-- assets for the logo animation (can be moved anywhere on this page inside the body tag) -->
<img src="/static/img/landing-page/dota2logo.png" alt="" id="dota-logo-img">
<img src="/static/img/landing-page/top-light.png" alt="" id="top-light">
<img src="/static/img/landing-page/right-light.png" alt="" id="right-light">
