<%  title="Index";
    navigation_entries=[
        {"label": "Example", "link": "#match"},
        {"label": "More Matches", "link": "/matches"},
        {"label": "About", "link": "#about-prototype"},
        {"label": "Contact", "link": "#contact"},
    ];
    layout('base-template'); -%>

 <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Wisdota</h1>
                        <p class="intro-text"> Visualise your Dota2 games</p>


<a href="/matches" class="btn btn-default btn-lg"><div style="margin: 20px 20px 20px 20px;"><h2 style="margin: 0px 0px 0px 0px;">See Matches
</h2></div></a>
<br/>
<div style="width:150px; height: 10px;" ></div><br/>
<a href="/auth/steam" class="btn btn-default btn-lg"> <h4 style="margin: 0px 0px 0px 0px;">Login to parse a match:</h4><br/> <img src="/static/img/steam_signin3.png" height="60px" alt="Steam signin"/>
</a>


                    </div>    
                    <div id="downarrow" class="col-md-8 col-md-offset-2">
                        <a href="#prototype" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Prototype Section -->
    <% match_id = "1950565767" %>
    <% include ../partials/match-diagram.ejs -%>

    <!-- Request A Match Section -->
    <section id="input-match-id" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>More matches</h1>
                <p>We have a growing list of matches analysed and ready. You can access the full list after <a href="/matches">logging in</a>.</p>

                <p> If there is a particular match you would like to see analysed you can simply upload the replay file, and it will automatically be processed.</p>

                <p>If you have trouble getting a match analysed, feel free to <a href="mailto:quirin.fischer@wisdota.com">email us</a> and we will try to help.
            </div>
        </div>
    </section>


	<!-- About Prototype Section -->
	<section id="about-prototype" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <h1> About </h1>

                <p> This is an early-stage protoype for an application that will take in Dota 2 replays and automatically generate an overview of the gameplay. The idea is to allow you to review a game quickly and focus on the important aspects without having to watch the whole replay.</p>

                <p>Above you can see the final game of the Frankfurt Major, Team Secret vs. OG Game 4 - processed using the current version of our software.
                </p>

        <p> Log in with your Steam accout to get on the platform and see all the other games we have parsed so far. You can also upload replay files to see your own games analysed!</p>

                <p> The project is work in progress with lots more features planned - so stay tuned for updates and let us know if you have any feedback! </p>

                <a class="page-scroll" href="auth/steam">
                            <img src="static/img/steam_signin3.png" height="60px" alt="Steam signin"/>
                </a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Wisdota</h2>
                <p>We would love to hear how we can improve and what you want to see from us. Please fill out our short feedback form: </p>
                <a href="http://goo.gl/forms/vfHqGGvybU" class="btn btn-default btn-lg">Feedback Form</a>
                <p id="more-margin">Or you can find us on Twitter:</p>
                <a href="https://twitter.com/wisdota" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
                <p>Like us on Facebook: </p>
                <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true">
                </div>
            </div>
        </div>
    </section>
