<%  layout('base-template'); 
    navigation_entries=[
        {"label": "About", "link": "/about"},
    ];
-%>

<!-- Header -->
<div id="hotornot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="page-header">Let A.I. rate your Dota game</h1>
                    <h2 class="pager-header-small"><span class="text-muted">Ready to turn pro?</span></h2>
                </div>
            </div>
        </div>

<!-- Player Image Carousel -->
<!-- Todo: make this responsive -->
    <div class="container">
        <div id="player-slider" class="slider">

            <div id="slide1" class="mugshots text-center"><img src="/static/img/heroes/portraits/juggernaut_vert.jpg" width="210px"><p class="user-name">/r/dota2</p> <p class="mugshot-match-info"> Match 21164033692 <br> 30:35 Win</p></div>

            <div id="slide2" class="mugshots text-center"><img src="/static/img/heroes/portraits/brewmaster_vert.jpg" width="210px"><p class="user-name">xxMLG820xx</p> <p class="mugshot-match-info"> Match 21164033085 <br> 30:35 Loss</p></div>


            <div id="slide3" class="mugshots text-center"><img src="/static/img/heroes/portraits/lina_vert.jpg" width="210px"><p class="user-name">MidOnly</p> <p class="mugshot-match-info"> Match 211640273612 <br> 42:35 Loss</p></div>

            <div id="slide4" class="mugshots text-center"><img src="/static/img/heroes/portraits/earthshaker_vert.jpg" width="210px"><p class="user-name">Solo_Hero</p> <p class="mugshot-match-info"> Match 21164033692 <br> 30:35 Win</p></div>

            <div id="slide5" class="mugshots text-center"><img src="/static/img/heroes/portraits/juggernaut_vert.jpg" width="210px"><p class="user-name">safelane farm plz</p> <p class="mugshot-match-info"> Match 21164033692 <br> 30:35 Win</p></div>

            <div id="slide6" class="mugshots text-center"><img src="/static/img/heroes/portraits/lion_vert.jpg" width="210px"><p class="user-name">YoloMode</p> <p class="mugshot-match-info"> Match 21164033692 <br> 30:35 Win</p></div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 text-center">
                <div id ="ratePlayerDiv" data-target="#loading" data-toggle="modal">
                    <p id="ratePlayerTxt"> View Example </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 text-center">
                <input id="login-button" type="button" class="btn btn-warning active btn-lg" style="width:200px" value="Rate Myself">
                <p>(Requires Steam Sign-In)</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 text-center">
                <h4>Share Wisdota with your friends:</h4>
                <div class="socialmedia_container center-block">
                    <div class="fb-send socialmediabutton" data-href="http://wisdota.com"></div>
                    <% tweet_text = "Rate your play on Wisdota! " %>
                    <a href="https://twitter.com/share" style="vertical-align: text-bottom" class="twitter-share-button"{count} data-text="<%=tweet_text%>" data-size="large" data-url="http://www.wisdota.com/" data-hashtags="wisdota,dota2">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                     <a href="mailto:?subject=Ready to turn pro?&body=Let Artificial Intelligence rate your Dota play! http://wisdota.com" class="mailLink socialmediabutton hidden-xs">
                     <img src="img/email.svg" width="61px" height="20px">
                     </a>

                    <div class="fb-share-button" data-href="http://wisdota.com" data-layout="button_count"></div>
                </div>
            <div class="col-lg-4 col-md-4 col-sm-2"></div>
        
        </div>
    </div>
</div>

<!-- Wisdota Featurette -->
<section id ="about">
    <div class="container">
        <div class ="row">
            <hr class="featurette-divider">
            <div class="col-lg-12 text-center">          
                <h2 class="features-heading">IMR</h2>
                <p class="lead">Wisdota tries to estimate your IMR (Individual Match Rating), which is a measure of your performance in a single match. It only depends on how well you as an individual played and not whether your team won or lost. Since it is not averaged over all of your games it allows you to track your performance level from match to match more accurately than MMR. </p>
            </div>
        </div>
        <div class ="row">
            <hr class="featurette-divider">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <div>
                    <img src="static/img/features/results.png" height="250px" width="300px">
                </div>
                <h3>Rate Your Play</h3>
                <p class="lead">Measure your performance in each match. </p>
            </div>
            <div class="col-lg-4 text-center">
                <div>
                    <img src="/static/img/features/dashboard.png" height="250px" width="300px">
                </div>
                <h3>Track Your Progress</h3>
                <p class="lead">See trends in your performance over time. </p>
            </div>
            <div class="col-lg-4 text-center">
                <div>
                    <img src="/static/img/features/match_list.png" height="250px" width="300px">
                </div>
                <h3>Store Your Replays</h3>
                <p class="lead">Up to 6 months of replay files stored for plus users. </p>
            </div>
        </div>
        <!-- Click Me Button -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <a id="try-wisdota-link" href="/user" class="btn btn-warning btn-lg btn-block active"><span class="glyphicon glyphicon-play"></span> Try Wisdota For Free</a>
                <hr class="primary">                
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>



<div class="modal fade" id="loading" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="my-modal-title">Downloading and Analysing Replay File</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div id="progressTimer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/index.js"></script>

<!-- JavaScript for the progress bar -->
 <script src="/static/js/jquery.progressTimer.js"></script>