<%  title="Index";
    navigation_entries=[
        {"label": "Prototype", "link": "#prototype"},
        {"label": "Request A Match", "link": "#input-match-id"},
        {"label": "About", "link": "#about-prototype"},
        {"label": "Contact", "link": "#contact"},
    ];
    layout('base-template'); -%>

 <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Wisdota</h1>
                        <p class="intro-text"> Visualise your Dota2 games</p>
                        <a href="http://goo.gl/forms/Nb6S8eGaCm" class="btn btn-default btn-lg">Beta Sign Up</a>
                    </div>    
                    <div id="downarrow" class="col-md-8 col-md-offset-2">
                        <a href="#prototype" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Prototype Section -->
    <section id="prototype" class="container-fluid content-section text-center">
            <% include ../partials/match-diagram.ejs -%>
    </section>

    <!-- Request A Match Section -->
    <section id="input-match-id" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Request A Match</h1>

                <p> If there is a particular match you would like to see analysed you can add it to the queue via the following link:</p>

                <a href="http://goo.gl/forms/6UZBwulPbn" class="btn btn-default btn-lg">Match ID</a>
            </div>
        </div>
    </section>


	<!-- About Prototype Section -->
	<section id="about-prototype" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
                <h1> About The Prototype </h1>

                <p> This is an early-stage protoype for an application that will take in replays and automatically generate an overview of the gameplay. The idea is to allow you to review a game quickly and focus on the important aspects without having to watch the whole replay.</p>

                <p>To demonstrate our approach we took the first 10 minutes of a (Monkey)Business vs NiP game (Frankfurt majors qualifier WB Finals game 1) and made the visualisation above. By clicking on different heros you can see the path each one took through the game and the fights they were engaged in.
                </p>
                <p> The project is still obviously a work in progress - with lots more features planned - so stay tuned for updates and let us know if you have any feedback. We will be running a closed beta from the 23rd of November 2015 where we will allow you to submit a replay for us to analyse. You can sign up to the beta here:</p>
                <a href="http://goo.gl/forms/Nb6S8eGaCm" class="btn btn-default btn-lg">Beta Sign Up</a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Wisdota</h2>
                <p>We would love to hear how we can improve our prototype and what you want to see from us. Please fill out our short feedback form: </p>
                <a href="http://goo.gl/forms/vfHqGGvybU" class="btn btn-default btn-lg">Feedback Form</a>
                <p id="more-margin">Or you can find us on Twitter:</p>
                <a href="https://twitter.com/wisdota" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
            </div>
        </div>
    </section>


<!-- Custom JavaScript -->
<script src="static/js/diagram.js" charset="utf-8"></script>

<script src="static/js/index_js.js" charset="utf-8"></script>
