<%     title="Match List";
    layout("base-template") -%>

<link href="/static/css/matches.css" rel="stylesheet">

<section id="user-container" class="container content-section text-center">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
            <h1> Matches </h1>
        </div>
    </div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
            <ul id="matches-list">
            </ul>
        </div>
    </div>
</section>

<script src="/static/js/matches.js" charset="utf-8"></script>


