<%  layout('base-template'); 
    navigation_entries=[
    ];
-%>

<link href="/static/css/main.css" rel="stylesheet">

<!-- Wisdota Featurette -->
<div id ="faq">
    <div class="container">
        <div class ="row">
            <hr class="featurette-divider">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Nope</h2>
                 <p class="lead"> 
                    You are not allowed to see this page.
                 </p>
                <br>
            </div>
        </div>
    </div>
</div>

