<%  layout('base-template'); 
    navigation_entries=[
    ];
-%>

<link href="/static/css/subscribe.css" rel="stylesheet">


<!-- Header -->
<div class="bg-image-top">
    <h1 id="tnl">to the next level</h1>
    <h1 id="tyg">Take your game </h1>
</div>


<!-- Wisdota Subscriptions -->
<div id ="subscribe-to-plus">
    <div class="container text-center">
        <div class ="row">
            <div class="col-lg-4     col-md-6">
                <div class="subscription-container-basic">
                    <div class="text-center">
                        <h1 class="features-heading text-centered">Basic</h1>
                        <p class="lead"> Identify trends in your match performance and basic stats  </p>
                        <hr class="primary-thick">   
                        <h1>Free</h1> 
                        <button id="free-button" class="btn btn-default btn-lg fat-button">Sign Up</button>
                    </div>
                    <div style="text-align:left; padding-left:14px">
                        <hr class="primary-thick">   
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Monitor your performance </p>
                        <p class="lead"><span class="glyphicon glyphicon-remove"></span> Basic stats and analysis </p>
                        <p class="lead"> <span class="glyphicon glyphicon-remove"></span> No replay file storage </p>
                        <p class="lead"><span class="glyphicon glyphicon-remove"></span> No team strategy analysis </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="subscription-container-plus text-center">
                    <div class="text-center">
                        <h1 class="features-heading text-centered">Plus</h1>
                        <p class="lead"> Get a detailed analysis of your performance and in-depth stats </p>
                        <hr class="primary-thick">
                        <h1>$4.99 per month</h1>
                        <button class="btn btn-default btn-lg btn-warning active fat-button">Subscribe</button>
                    </div>
                    <div style="text-align:left; padding-left:14px">
                        <hr class="primary-thick">    
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Monitor your performance  </p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Detailed analysis of your game </p>
                        <p class="lead"> <span class="glyphicon glyphicon-ok"></span> 6 months of replay file storage </p>
                        <p class="lead"><span class="glyphicon glyphicon-remove"></span> No team strategy analysis </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="subscription-container-gold text-center">
                    <div class="text-center">
                        <h1 class="features-heading text-centered">Gold</h1>
                        <p class="lead"> Turn pro and get tools for analysing and developing team strategies </p>
                        <hr class="primary-thick">
                        <h1>$12.99 per month</h1>
                        <button class="btn btn-default btn-lg default fat-button">In Development</button>
                    </div>
                    <div style="text-align:left; padding-left:14px">
                        <hr class="primary-thick">    
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Monitor your performance</p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Detailed analysis of your game </p>
                        <p class="lead"> <span class="glyphicon glyphicon-ok"></span> 12 months of replay file storage </p>
                        <p class="lead"><span class="glyphicon glyphicon-ok"></span> Team strategy analysis </p>
                    </div>
                </div>
            </div>
            
        </div>      
    </div>
</div>

<div class="bg-image-bottom">
    
</div>