<%  layout('base-template'); 
    navigation_entries=[
    ];

var pictures =
{
    "abaddon":              "/static/img/heroes/pictures/Abaddon.png",
    "alchemist":            "/static/img/heroes/pictures/Alchemist.png",
    "ancient_apparition":   "/static/img/heroes/pictures/Ancient_Apparition.png",
    "antimage":             "/static/img/heroes/pictures/Antimage.png",
    "arc_warden":           "/static/img/heroes/pictures/Arc Warden.png",
    "axe":                  "/static/img/heroes/pictures/Axe.png",
    "bane":                 "/static/img/heroes/pictures/Bane.png",
    "batrider":             "/static/img/heroes/pictures/Batrider.png",
    "beastmaster":          "/static/img/heroes/pictures/Beastmaster.png",
    "bloodseeker":          "/static/img/heroes/pictures/Bloodseeker.png",
    "bounty_hunter":        "/static/img/heroes/pictures/Bounty_Hunter.png",
    "brewmaster":           "/static/img/heroes/pictures/Brewmaster.png",
    "bristleback":          "/static/img/heroes/pictures/Bristleback.png",
    "broodmother":          "/static/img/heroes/pictures/Broodmother.png",
    "centaur":              "/static/img/heroes/pictures/Centaur_Warrunner.png",
    "chaos_knight":         "/static/img/heroes/pictures/Chaos_Knight.png",
    "chen":                 "/static/img/heroes/pictures/Chen.png",
    "clinkz":               "/static/img/heroes/pictures/Clinkz.png",
    "crystal_maiden":       "/static/img/heroes/pictures/Crystal Maiden.png",
    "dark_seer":            "/static/img/heroes/pictures/Dark Seer.png",
    "dazzle":               "/static/img/heroes/pictures/Dazzle.png",
    "death_prophet":        "/static/img/heroes/pictures/Death_Prophet.png",
    "disruptor":            "/static/img/heroes/pictures/Disruptor.png",
    "doom_bringer":         "/static/img/heroes/pictures/Doom.png",
    "dragon_knight":        "/static/img/heroes/pictures/Dragon_Knight.png",
    "drow_ranger":          "/static/img/heroes/pictures/Drow_Ranger.png",
    "earthshaker":          "/static/img/heroes/pictures/Earthshaker.png",
    "elder_titan":          "/static/img/heroes/pictures/Elder_Titan.png",
    "eart_spirit":          "/static/img/heroes/pictures/Earth_Spirit.png",
    "ember_spirit":         "/static/img/heroes/pictures/Ember_Spirit.png",
    "enchantress":          "/static/img/heroes/pictures/Enchantress.png",
    "enigma":               "/static/img/heroes/pictures/Enigma.png",
    "furion":               "/static/img/heroes/pictures/Furion.png",
    "faceless_void":        "/static/img/heroes/pictures/Faceless Void.png",
    "gyrocopter":           "/static/img/heroes/pictures/Gyrocopter.png", 
    "huskar":               "/static/img/heroes/pictures/Huskar.png",
    "invoker":              "/static/img/heroes/pictures/Invoker.png",
    "jakiro":               "/static/img/heroes/pictures/Jakiro.png",
    "juggernaut":           "/static/img/heroes/pictures/Juggernaut.png",
    "keeper_of_the_light":  "/static/img/heroes/pictures/Keeper_of_the_Light.png",
    "kunkka":               "/static/img/heroes/pictures/Kunkka.png",
    "legion_commander":     "/static/img/heroes/pictures/Legion_Commander.png",
    "leshrac":              "/static/img/heroes/pictures/Leshrac.png",
    "lich":                 "/static/img/heroes/pictures/Lich.png",
    "life_stealer":         "/static/img/heroes/pictures/Life Stealer.png",
    "lina":                 "/static/img/heroes/pictures/Lina.png",
    "lion":                 "/static/img/heroes/pictures/Lion.png",
    "lone_druid":           "/static/img/heroes/pictures/Lone_Druid.png",
    "luna":                 "/static/img/heroes/pictures/Luna.png",
    "lycan":                "/static/img/heroes/pictures/Lycanthrope.png",
    "magnataur":            "/static/img/heroes/pictures/Magnataur.png",
    "medusa":               "/static/img/heroes/pictures/Medusa.png",
    "meepo":                "/static/img/heroes/pictures/Meepo.png",
    "mirana":               "/static/img/heroes/pictures/Mirana.png",
    "morphling":            "/static/img/heroes/pictures/Morphling.png",
    "naga_siren":           "/static/img/heroes/pictures/Naga Siren.png",
    "necrolyte":            "/static/img/heroes/pictures/Necrolyte.png",
    "nevermore":            "/static/img/heroes/pictures/Shadow_Fiend.png",
    "night_stalker":        "/static/img/heroes/pictures/Night_Stalker.png",
    "nyx_assassin":         "/static/img/heroes/pictures/Nyx Assassin.png",
    "obsidian_destroyer":   "/static/img/heroes/pictures/Obsidian Destroyer.png",
    "ogre_magi":            "/static/img/heroes/pictures/Ogre_Magi.png",
    "omniknight":           "/static/img/heroes/pictures/Omniknight.png",
    "oracle":               "/static/img/heroes/pictures/Oracle.png",
    "phantom_assassin":     "/static/img/heroes/pictures/Phantom_Assassin.png",
    "phantom_lancer":       "/static/img/heroes/pictures/Phantom_Lancer.png",
    "phoenix":              "/static/img/heroes/pictures/Phoenix.png",
    "puck":                 "/static/img/heroes/pictures/Puck.png",
    "pudge":                "/static/img/heroes/pictures/Pudge.png",
    "pugna":                "/static/img/heroes/pictures/Pugna.png",
    "queenofpain":          "/static/img/heroes/pictures/Queen of Pain.png",
    "rattletrap":           "/static/img/heroes/pictures/Rattletrap.png",
    "razor":                "/static/img/heroes/pictures/Razor.png",
    "riki":                 "/static/img/heroes/pictures/Riki.png",
    "rubick":               "/static/img/heroes/pictures/Rubick.png",
    "sand_king":            "/static/img/heroes/pictures/Sand_King.png",
    "shadow_demon":         "/static/img/heroes/pictures/Shadow_Demon.png",
    "shadow_shaman":        "/static/img/heroes/pictures/Shadow_Shaman.png",
    "shredder":             "/static/img/heroes/pictures/Shredder.png",
    "silencer":             "/static/img/heroes/pictures/Silencer.png",
    "skeleton_king":        "/static/img/heroes/pictures/Wraith_King.png",
    "skywrath_mage":        "/static/img/heroes/pictures/Skywrath_Mage.png",
    "slardar":              "/static/img/heroes/pictures/Slardar.png",
    "slark":                "/static/img/heroes/pictures/Slark.png",
    "sniper":               "/static/img/heroes/pictures/Sniper.png",
    "spectre":              "/static/img/heroes/pictures/Spectre.png", 
    "spirit_breaker":       "/static/img/heroes/pictures/Spirit_Breaker.png",
    "storm_spirit":         "/static/img/heroes/pictures/Storm_Spirit.png",
    "sven":                 "/static/img/heroes/pictures/Sven.png",
    "techies":              "/static/img/heroes/pictures/Techies.png",
    "templar_assassin":     "/static/img/heroes/pictures/Templar Assassin.png",
    "terrorblade":          "/static/img/heroes/pictures/Terrorblade.png",
    "tidehunter":           "/static/img/heroes/pictures/Tidehunter.png",
    "tinker":               "/static/img/heroes/pictures/Tinker.png",
    "tiny":                 "/static/img/heroes/pictures/Tiny.png",
    "treant":               "/static/img/heroes/pictures/Treant.png",
    "troll_warlord":        "/static/img/heroes/pictures/Troll_Warlord.png",
    "tusk":                 "/static/img/heroes/pictures/Tusk.png",
    "undying":              "/static/img/heroes/pictures/Undying.png",
    "vengefulspirit":       "/static/img/heroes/pictures/Vengeful Spirit.png",
    "venomancer":           "/static/img/heroes/pictures/Venomancer.png",
    "viper":                "/static/img/heroes/pictures/Viper.png", 
    "visage":               "/static/img/heroes/pictures/Visage.png",
    "ursa":                 "/static/img/heroes/pictures/Ursa.png",
    "warlock":              "/static/img/heroes/pictures/Warlock.png",
    "weaver":               "/static/img/heroes/pictures/Weaver.png",
    "windrunner":           "/static/img/heroes/pictures/Windrunner.png",
    "winter_wyvern":        "/static/img/heroes/pictures/Winter Wyvern.png",
    "wisp":                 "/static/img/heroes/pictures/Wisp.png",
    "witch_doctor":         "/static/img/heroes/pictures/Witch_Doctor.png",
    "zuus":                 "/static/img/heroes/pictures/Zeus.png"
};


var names =
{
    "abaddon":              "Abaddon",
    "alchemist":            "Alchemist",
    "ancient_apparition":   "Ancient Apparition",
    "antimage":             "Anti-Mage",
    "arc_warden":           "Arc Warden",
    "axe":                  "Axe",
    "bane":                 "Bane",
    "batrider":             "Batrider",
    "beastmaster":          "Beastmaster",
    "bloodseeker":          "Bloodseeker",
    "bounty_hunter":        "Bounty Hunter",
    "brewmaster":           "Brewmaster",
    "bristleback":          "Bristleback",
    "broodmother":          "Broodmother",
    "centaur":              "Centaur Warrunner",
    "chaos_knight":         "Chaos Knight",
    "chen":                 "Chen",
    "clinkz":               "Clinkz",
    "crystal_maiden":       "Crystal Maiden",
    "dark_seer":            "Dark Seer",
    "dazzle":               "Dazzle",
    "death_prophet":        "Death Prophet",
    "disruptor":            "Disruptor",
    "doom_bringer":         "Doom Bringer",
    "dragon_knight":        "Dragon Knight",
    "drow_ranger":          "Drow Ranger",
    "earthshaker":          "Earthshaker",
    "elder_titan":          "Elder Titan",
    "eart_spirit":          "Earth Spirit",
    "ember_spirit":         "Ember Spirit",
    "enchantress":          "Enchantress",
    "enigma":               "Enigma",
    "furion":               "Nature's Prophet",
    "faceless_void":        "Faceless Void",
    "gyrocopter":           "Gyrocopter", 
    "huskar":               "Huskar",
    "invoker":              "Invoker",
    "jakiro":               "Jakiro",
    "juggernaut":           "Juggernaut",
    "keeper_of_the_light":  "Keeper of the Light",
    "kunkka":               "Kunkka",
    "legion_commander":     "Legion Commander",
    "leshrac":              "Leshrac",
    "lich":                 "Lich",
    "life_stealer":         "Life Stealer",
    "lina":                 "Lina",
    "lion":                 "Lion",
    "lone_druid":           "Lone Druid",
    "luna":                 "Luna",
    "lycan":                "Lycanthrope",
    "magnataur":            "Magnus",
    "medusa":               "Medusa",
    "meepo":                "Meepo",
    "mirana":               "Mirana",
    "morphling":            "Morphling",
    "naga_siren":           "Naga Siren",
    "necrolyte":            "Necrolyte",
    "nevermore":            "Shadow Fiend",
    "night_stalker":        "Night Stalker",
    "nyx_assassin":         "Nyx Assassin",
    "obsidian_destroyer":   "Outworld Devourer",
    "ogre_magi":            "Ogre Magi",
    "omniknight":           "Omniknight",
    "oracle":               "Oracle",
    "phantom_assassin":     "Phantom Assassin",
    "phantom_lancer":       "Phantom Lancer",
    "phoenix":              "Phoenix",
    "puck":                 "Puck",
    "pudge":                "Pudge",
    "pugna":                "Pugna",
    "queenofpain":          "Queen Of Pain",
    "rattletrap":           "Clockwerk",
    "razor":                "Razor",
    "riki":                 "Riki",
    "rubick":               "Rubick",
    "sand_king":            "Sand King",
    "shadow_demon":         "Shadow Demon",
    "shadow_shaman":        "Shadow Shaman",
    "shredder":             "Timbersaw",
    "silencer":             "Silencer",
    "skeleton_king":        "Wraith King",
    "skywrath_mage":        "Skywrath Mage",
    "slardar":              "Slardar",
    "slark":                "Slark",
    "sniper":               "Sniper",
    "spectre":              "Spectre", 
    "spirit_breaker":       "Spirit Breaker",
    "storm_spirit":         "Storm Spirit",
    "sven":                 "Sven",
    "techies":              "Techies",
    "templar_assassin":     "Templar Assassin",
    "terrorblade":          "Terrorblade",
    "tidehunter":           "Tidehunter",
    "tinker":               "Tinker",
    "tiny":                 "Tiny",
    "treant":               "Treant",
    "troll_warlord":        "Troll Warlord",
    "tusk":                 "Tusk",
    "undying":              "Undying",
    "vengefulspirit":       "Vengeful Spirit",
    "venomancer":           "Venomancer",
    "viper":                "Viper", 
    "visage":               "Visage",
    "ursa":                 "Ursa",
    "warlock":              "Warlock",
    "weaver":               "Weaver",
    "windrunner":           "Windranger",
    "winter_wyvern":        "Winter Wyvern",
    "wisp":                 "Wisp",
    "witch_doctor":         "Witch Doctor",
    "zuus":                 "Zeus"
};
    
-%>


<link href="/static/css/results.css" rel="stylesheet">

<!-- Wisdota Featurette -->
<div id ="results-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="results-page-header"> Match <%=match_id%></h1>
            </div>
        </div>
        <div class="row">
        Matchinfo
        </div>
        <div class="row">
        Playerinfo
        </div>
  
<div class="socialmedia_container center-block">

    <div class="fb-send socialmediabutton" data-href="http://wisdota.com"></div>

    <% tweet_text = "Rate your play on Wisdota! " %>
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="<%=tweet_text%>" data-url="http://www.wisdota.com/" data-hashtags="wisdota,dota2">
        Tweet
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

     <a href="mailto:?subject=Ready to turn pro?&body=Let Artificial Intelligence rate your Dota play! http://wisdota.com" class="mailLink socialmediabutton hidden-xs">
        <img src="/static/img/email.svg" width="61px" height="20px">
     </a>

    <div class="fb-share-button" data-href="http://wisdota.com" data-layout="button_count"></div>
</div>

<script type="text/javascript" src="/static/js/results.js"></script>