<%  layout('base-template'); 
    navigation_entries=[
    ];
-%>


<link href="/static/css/scoreboard.css" rel="stylesheet">

<!-- Wisdota Featurette -->
<div id ="results-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="scoreboard-page-header"> Match <%=match_id%></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" id="match-info">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="board-settings">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select metric
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="select-imr">IMR</a></li>
                        <li><a href="#" id="select-mechanics">Mechanics</a></li>
                        <li><a href="#" id="select-farming">Farming</a></li>
                        <li><a href="#" id="select-fighting">Fighting</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%"><a style="color:black">Radiant</a></th>
                        <th width="25%"><a style="color:black">Player</a></th>
                        <th width="10%"><a style="color:black"><span class="value-label">IMR</span></a></th>
                        <th width="10%"></th>
                        <th width="10%"><a style="color:black">Dire</a></th>
                        <th width="25%"><a style="color:black">Player</a></th>
                        <th width="10%"><a style="color:black"><span class="value-label">IMR</span></a></th>
                    </tr>
                </thead>
                <tbody id="players-table">
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="row">
                                <div class="col-xs-6 text-center" ><span style="color:black">Radiant <span class="value-label">IMR</span>:</span><span id="radiant-average-value"></span></div>
                                <div class="col-xs-6 text-center"><span style="color:black">Dire <span class="value-label">IMR</span>:</span><span id="dire-average-value"></span></div>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
  
        <div class="row">
            <div class="socialmedia_container center-block">

                <div class="fb-send socialmediabutton" data-href="http://wisdota.com"></div>

                <% tweet_text = "Rate your play on Wisdota! " %>
                <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="<%=tweet_text%>" data-url="http://www.wisdota.com/" data-hashtags="wisdota,dota2">
                    Tweet
                </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                 <a href="mailto:?subject=Ready to turn pro?&body=Let Artificial Intelligence rate your Dota play! http://wisdota.com" class="mailLink socialmediabutton hidden-xs">
                    <img src="/static/img/email.svg" width="61px" height="20px">
                 </a>

                <div class="fb-share-button" data-href="http://wisdota.com" data-layout="button_count"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    match_id = <%=match_id%>;
</script>

<script type="text/javascript" src="/static/js/constants.js"></script>
<script type="text/javascript" src="/static/js/scoreboard.js"></script>