<%  layout('base-template'); 
    navigation_entries=[
    ];
-%>


<link href="/static/css/scoreboard.css" rel="stylesheet">

<!-- Wisdota Featurette -->
<div id ="results-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="scoreboard-page-header"> Match <%=match_id%></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" id="match-info">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" >
            <table class="table">
                <thead>
                    <tr>
                        <th><a style="color:black">Radiant</a></th>
                        <th><a style="color:black">Hero</a></th>
                        <th><a style="color:black">IMR</a></th>
                        <th></th>
                        <th><a style="color:black">Dire</a></th>
                        <th><a style="color:black">Hero</a></th>
                        <th><a style="color:black">IMR</a></th>
                        <th width="40px"></th>
                    </tr>
                </thead>
                <tbody id="players-table">
                </tbody>
            </table>
            </div>
        </div>
  
<div class="socialmedia_container center-block">

    <div class="fb-send socialmediabutton" data-href="http://wisdota.com"></div>

    <% tweet_text = "Rate your play on Wisdota! " %>
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="<%=tweet_text%>" data-url="http://www.wisdota.com/" data-hashtags="wisdota,dota2">
        Tweet
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

     <a href="mailto:?subject=Ready to turn pro?&body=Let Artificial Intelligence rate your Dota play! http://wisdota.com" class="mailLink socialmediabutton hidden-xs">
        <img src="/static/img/email.svg" width="61px" height="20px">
     </a>

    <div class="fb-share-button" data-href="http://wisdota.com" data-layout="button_count"></div>
</div>

<script type="text/javascript">
    match_id = <%=match_id%>;
</script>

<script type="text/javascript" src="/static/js/scoreboard.js"></script>