<%     title="Replay Upload";
    layout("base-template") -%>

<section id="user-container" class="container content-section text-center">

<% if(user["statuses"].indexOf("verified") >=0){%>

    <div class="row">
		<div class="col-xs-6 col-xs-offset-3">
            <h1> Add Match </h1>
        </div>
    </div>
	<div class="row">
        <form id="request-form">
		    <div class="col-xs-2 col-xs-offset-3">
                Match ID:
            </div>
		    <div class="col-xs-2">
                <input type="text" id="request-id"/>
            </div>
		    <div class="col-xs-2">
                <input type="button" id="request-button" value="Add Match" disabled>
            </div>
        </form>
    </div>

	<div class="row">
		    <div class="col-xs-6 col-xs-offset-3">
                <h2>Requested Matches</h2>
            </div>
    </div>

	<div class="row">
	    <div class="col-xs-6 col-xs-offset-3">
        <table class = "matches" id = "requests-table"></table>
    </div>


	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
            <h1> Upload </h1>
        </div>
    </div>
	<div class="row">
        <form enctype="multipart/form-data" id="upload-form">
		    <div class="col-xs-2 col-xs-offset-3">
                Replay file:
            </div>
		    <div class="col-xs-2">
                <input type="file" id="upload-file" name="file" accept=".dem">
            </div>
		    <div class="col-xs-2">
                <input type="button" id="upload-button" value="Upload" disabled>
            </div>
        </form>
    </div>
	<div class="row">
		    <div class="col-xs-2 col-xs-offset-3">
                Progress:
            </div>
		    <div class="col-xs-4">
                <div id="progress-field"></div>
            </div>
    </div>

	<div class="row">
		    <div class="col-xs-6 col-xs-offset-3">
                <h2>Uploaded Replays</h2>
            </div>
    </div>

	<div class="row">
		    <div class="col-xs-6 col-xs-offset-3">
            <table class = "matches" id = "uploads-table"></table>
            </div>
    </div>
<% } else {%>
	<div class="row">
		    <div class="col-xs-6 col-xs-offset-3">
                <h3>Verify your email address in the <a href="/user">User panel</a> to enable replay upload.</h2>
            </div>
    </div>

<% }%>
</section>

<script src="/static/js/upload.js" charset="utf-8"></script>
<link href="/static/css/formatting.css" rel="stylesheet">

