<%  layout('base-template'); 
    navigation_entries=[
    ];
-%>
    <link href="/static/css/user.css" rel="stylesheet">


<!--User Dasboard -->
<section id="user-dashboard text-center">
    <div class="container-fluid">
        <div id="dashboard" style= "padding-top: 50px;">
            <!-- SVG element in here -->
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <button id="mmr-button" type="button" class="btn btn-success dashboard-button">General MMR</button>
                <button id="last-hits-button" type="button" class="btn btn-primary dashboard-button">Last Hitting</button>
                <button id="fights-button" type="button" class="btn btn-warning dashboard-button">Fights</button>
                <button id="objectives-button" type="button" class="btn btn-info dashboard-button">Objectives</button>
                <button id="movement-button" type="button" class="btn btn-danger dashboard-button">Movement</button>
                <button id="nom-button" type="button" class="btn btn-default dashboard-button">No. of Matches</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<section id="user-container" class="container content-section">
    <div class="container big-table">
        <h2>Match List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th><a style="color:black">Match ID</a></th>
                    <th><a style="color:black">Date</a></th>
                    <th><a style="color:black">Time</a></th>
                    <th><a style="color:black">Hero</a></th>
                    <th><a style="color:black">Duration</a></th>
                    <th><a style="color:black">Result</a></th>
                    <th><a style="color:black">Button</a></th>
                    <th width="40px"></th>
                </tr>
            </thead>
            <tbody id ="large-match-list">

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" style="text-align:center">
                        <a id="scroll-left" class="glyphicon glyphicon-chevron-left"></a>
                        <span id="range">1 - 5</span>
                        <a id="scroll-right" class="glyphicon glyphicon-chevron-right"></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="container small-table">
        <h2>Match List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID/Result</th>
                    <th>Date/Time</th>
                    <th>Hero</th>
                    <th>Button</th>
                    <th width="40px"></th>
                </tr>
            </thead>
            <tbody id="small-match-list">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align:center">
                        <a id="scroll-left" class="glyphicon glyphicon-chevron-left"></a>
                        <span id="range">1 - 5</span>
                        <a id="scroll-right" class="glyphicon glyphicon-chevron-right"></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>


<div class="modal fade" id="loading" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="my-modal-title">Downloading and Analysing Replay File</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div id="progressTimer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.progressTimer.js"></script>

<script type="text/javascript">
    var start = <%=start%>;
    var range = <%=range%>;
</script>

<script type="text/javascript" src="/static/js/user.js"></script>
<script type="text/javascript" src="/static/js/matchlist.js"></script>