<% 
    title="User";
    layout("base-template")
-%>

<section id="user-container" class="container content-section text-center">
	<div class="row">
		<div class="col-xs-1 col-xs-offset-3">
            <img src="<%= user["steam_object"]["avatarmedium"] %>"/>
        </div>
		<div class="col-xs-5">
            <h1> <%= user["name"]%> </h1>
        </div>
    </div>
	<div class="row">
        <div class="col-xs-2 col-xs-offset-3">
            <p>Email: </p>
        </div>
        <div class="col-xs-3 ">
            <p><% if(user["email"] == "unknown") {%>
                Not yet set. (Coming soon)
            <% } else {%>
            <%= user["email"] -%>
            <% }%></p>
        </div>
    </div>
	<div class="row">
        <div class="col-xs-2 col-xs-offset-3">
           <p> Beta status: </p>
        </div>
        <div class="col-xs-3">
           <p> <%= user["beta_enabled"]%> (Coming soon)</p>
        </div>
    </div>

</section>
