<footer>
    <div class="container text-center">
        <p>Copyright &copy; Tembryo 2015</p>
        <p><a href= "http://steampowered.com">Powered by Steam</href></p>
        <p>Match parsing powered by <a href="https://github.com/skadistats/clarity">clarity</a>. </p>
    </div>
</footer>
