<div class = "row" id ="button-row" >
    <div class ="col-xs-4 col info-text" >
        Drag the timeline
    </div>
    <div class ="col-xs-4 col info-text" >
        Click on heroes on the map
    </div>
    <div class ="col-xs-4 col info-text" >
        <a href="#prototype" class="btn btn-default btn-lg" onclick="toggleAutoScroll();" id ="toggle-autoscroll">
            Play
        </a>
    </div>
</div>
<div  class = "row" >
    <div class ="col-xs-12 col" >
		<div id="timeline" class="svg-container"></div>
	</div>
</div>
<div class="row">
	<div class ="col-xs-6 col" >
		<div id="diagram" class="svg-container"></div>
	</div>
    <div class ="col-xs-6 col" >
		<div id="map" class="svg-container"></div>
	</div>
</div>

<!-- Custom JavaScript -->
<script src="/static/js/diagram.js" charset="utf-8"></script>
